<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Add Cookie</h3>
        </div>
        <div class="panel-body">
            <form action="/addCookie" method="POST">
                <div class="form-group">
                    <label for="cookieName">Name:</label>
                    <input type="text" class="form-control" name="name" id="cookieName" required>
                </div>
                <div class="form-group">
                    <label for="cookieValue">Value:</label>
                    <input type="text" class="form-control" name="value" id="cookieValue" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Existing Cookies</h3>
        </div>
        <div class="panel-body">
            {{#if cookies}}
            <form action="/removeCookie" method="POST">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each cookies}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{value}}</td>
                            <td><input class="checkbox-inline" type="checkbox" name="toRemove" value="{{name}}"></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <p>Remember that you can see all the cookies in your browser's debug view!</p>
                <div class="form-group">
                    <button class="btn btn-danger" type="submit">Remove selected</button>
                </div>
            </form>
            {{else}}
            <p>None</p>
            {{/if}}
        </div>
    </div>
</div>